<h1 mat-dialog-title>settings</h1>

<form>
  <div mat-dialog-content>
    <div class="file">
      <img
        [src]="
          data.avatar.length === 0 ? 'assets/img/default.jpg' : data.avatar
        "
        alt="avatar"
        class="avatar"
      />
      <input
        type="file"
        name="avatar"
        id="file"
        (change)="onUploadImg($event)"
      />
      <label for="file">
        <mat-icon aria-hidden="false">photo</mat-icon>
      </label>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [formControl]="nameFormControl" />
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="primary" (click)="save($event)">save</button>
    <button mat-button (click)="onNoClick($event)">close</button>
  </div>
</form>
