:host {
  &::ng-deep.mat-toolbar {
    position: fixed;
    z-index: 1;
  }

  .toolbar__space {
    height: 63px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }

  .active {
    background: #a7154f;
  }
}