:host {
  width: 80%;
  margin: 0 auto;

  &::ng-deep.mat-card {
    margin: 10px;
    transition: all 0.3s ease-in-out;
    position: relative;
    max-width: 300px;
    min-width: 300px;
    max-height: 400px;
    @media (max-width: 400px) {
      min-width: 85%;
      margin: 10px 1px;
    }
    &::ng-deep.mat-card-header-text {
      font-size: 1.2rem;
    }
  }

  .mat-card:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  .menu__card {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    border-radius: 0 0 0.5rem 0.5rem;
  }

  @media (max-width: 1000px) {
    width: 100%;
  }

  .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    h3 {
      font-size: 30px;
    }
    img {
      width: 400px;
      @media (max-width: 500px) {
        width: 90%;
      }
    }
  }
}
