:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  position: relative;

  .spinner {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;
  }

  form {
    margin-bottom: 50px;
  }

  .card {
    width: 600px;
    margin: 10px 0;

    .options {
      div {
        margin: 10px;

        &::ng-deep.mat-radio-label-content::first-letter {
          text-transform: uppercase;
        }
      }
    }
  }

  .btn__form {
    margin: auto;
    display: block;
    font-size: 30px;
    padding: 10px;

    &:disabled,
    &[disabled] {
      background-color: #cccccc;
      color: #666666;
    }
  }

  .alert {
    position: fixed;
    top: 80px;
    right: 0px;
    display: flex;
    padding: 10px;
    margin-right: 1%;
    background: #d81f69;
    border-radius: 5px;
    color: #fff;
    align-items: center;
    transform: translateX(150%);
    transition: all 0.5s ease-in-out;

    &.show {
      transform: translateX(0);
    }
  }
}
