:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;

  form {
    margin-bottom: 50px;
  }

  .card {
    width: 600px;
    margin: 10px 0;

    .options {
      div {
        margin: 10px;

        &::ng-deep.mat-radio-label-content::first-letter {
          text-transform: uppercase;
        }
      }
    }
  }

  .btn__form {
    margin: auto;
    display: block;
    font-size: 30px;
    padding: 10px;

    &:disabled,
    &[disabled] {
      background-color: #cccccc;
      color: #666666;
    }
  }
}
