:host {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 10px 0 90px;

  .contanier {
    position: relative;
    width: 700px;

    @media screen and (max-width: 750px) {
      width: 100%;
      margin: 0 5px;
    }
  }

  .card__form {
    margin-bottom: 20px;

    &::ng-deep.mat-form-field {
      width: 100%;
      margin-bottom: 5px;
    }

    &__radio {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 10px;
      &::ng-deep.mat-form-field {
        width: 85%;
      }
    }
  }

  .card {
    margin-bottom: 20px;
    position: relative;
    .drag__card {
      position: absolute;
      top: 0;
      opacity: 0.5;

      &:nth-child(1) {
        margin-left: 45%;
      }
    }
    .btn__delete__question {
      position: absolute;
      top: 0;
      right: 0;
    }
    h4 {
      margin: 0;
      margin-top: 20px;
      word-break: break-all;
      &::first-letter {
        text-transform: uppercase;
      }
    }
    .options {
      display: flex;
      flex-direction: column;

      div {
        margin: 10px;
        position: relative;
        &::ng-deep.mat-radio-label-content::first-letter {
          text-transform: uppercase;
        }
        .btn__delete__answer {
          position: absolute;
          position: absolute;
          right: 0;
          top: -10px;
        }
      }
    }
  }

  .btn__add__form {
    display: block;
    margin: auto;
    &:disabled,
    &[disabled] {
      background-color: #cccccc;
      color: #666666;
    }
  }

  .save {
    font-size: 30px;
    padding: 10px;
  }

  .alert {
    position: absolute;
    bottom: 70px;
    left: 40px;
    color: #db483c;
    opacity: 0;
    transition: all 0.5s ease-in-out;

    &-show {
      bottom: 52px;
      opacity: 1;
    }
  }
}
