<div class="sidebar" [class.show]="activeSidebar">
  <div class="sidebar__content" [class.show__sidebar]="activeSidebar">
    <button
      mat-icon-button
      aria-label="close icon"
      class="btn__menu btn__close"
      matTooltip="close"
      color="primary"
      (click)="toggleSidebar()"
    >
      <mat-icon>close</mat-icon>
    </button>
    <button
      mat-icon-button
      class="btn__menu"
      aria-label="settings icon"
      matTooltip="settings"
      (click)="openDialog()"
    >
      <mat-icon>settings</mat-icon>
    </button>
    <div class="sidebar__content__header">
      <div class="avatar">
        <img
          [src]="
            user?.avatar == ''
              ? 'https://as1.ftcdn.net/v2/jpg/03/53/11/00/1000_F_353110097_nbpmfn9iHlxef4EDIhXB1tdTD0lcWhG9.jpg'
              : user?.avatar
          "
          alt="avatar"
        />
      </div>
      <h3>{{ user?.name | uppercase }}</h3>
    </div>
    <div class="sidebar__content__body">
      <ul>
        <li>
          <a
            routerLink="my-list"
            (click)="toggleSidebar()"
            routerLinkActive="active"
            >my list quiz</a
          >
        </li>
        <li>
          <a
            routerLink="create"
            (click)="toggleSidebar()"
            routerLinkActive="active"
            >create quiz</a
          >
        </li>
        <!-- <li>
          <a href="#">show quiz realizados</a>
        </li> -->
      </ul>
    </div>
  </div>
</div>
<div class="sidebar__space"></div>
