<div class="contanier">
  <mat-card class="card__form">
    <form [formGroup]="form">
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
        <mat-error
          *ngIf="titleField?.touched && titleField?.hasError('required')"
        >
          Title is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
        <mat-error
          *ngIf="
            descriptionField?.touched && descriptionField?.hasError('required')
          "
        >
          Description is required
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card>

  <div cdkDropList (cdkDropListDropped)="drop($event)">
    <div *ngFor="let question of questions; let i = index" cdkDrag>
      <mat-card class="card">
        <div class="drag__card" cdkDragHandle>
          <mat-icon>drag_handle</mat-icon>
        </div>
        <button
          aria-label="delete icon"
          matTooltip="delete this question"
          mat-icon-button
          class="btn__delete__question"
          (click)="deleteQuestion(i)"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <mat-card-title>
          <h4>{{ question.title }}</h4>
        </mat-card-title>
        <mat-radio-group class="options">
          <div class="options-content" *ngFor="let answer of question.answers">
            <mat-radio-button
              disabled
              [checked]="answer.isCorrect"
              [value]="answer.text"
              >{{ answer.text }}</mat-radio-button
            >
          </div>
        </mat-radio-group>
      </mat-card>
    </div>
  </div>

  <mat-card class="card card__form">
    <mat-form-field appearance="fill">
      <mat-label>Question title</mat-label>
      <input matInput value="" [formControl]="titleQustionField" />
      <mat-error
        *ngIf="
          titleQustionField?.touched && titleQustionField?.hasError('required')
        "
      >
        Quistion title is required
      </mat-error>
    </mat-form-field>

    <mat-radio-group class="options">
      <div
        *ngFor="let answer of answers; let i = index"
        class="options-content"
      >
        <div class="radio-simulation">
          <mat-icon *ngIf="answer.isCorrect">radio_button_checked</mat-icon>
          <mat-icon *ngIf="!answer.isCorrect">radio_button_unchecked</mat-icon>
          <p>
            {{ answer.text }}
          </p>
        </div>

        <button
          aria-label="delete icon"
          matTooltip="delete this answer"
          mat-icon-button
          class="btn__delete__answer"
          (click)="deleteanswer(i)"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <div class="card__form__radio">
        <mat-icon>radio_button_unchecked</mat-icon>
        <mat-form-field appearance="fill">
          <input
            matInput
            placeholder="New answer..."
            value=""
            [formControl]="answerTextFiled"
            (keyup.enter)="addAnswer()"
          />
        </mat-form-field>

        <button
          matTooltip="add answer"
          mat-icon-button
          aria-label="add icon"
          class="btn__answer"
          (click)="addAnswer()"
        >
          <mat-icon>add_circle</mat-icon>
        </button>

        <button
          matTooltip="this is the correct answer"
          mat-icon-button
          aria-label="add icon"
          class="btn__answer"
          [class.done]="isCorrectAnswer"
          [class.noMore]="isCorrectAnswer === null"
          [disabled]="isCorrectAnswer === null"
          (click)="isCorrectAnswer = true"
        >
          <mat-icon>done</mat-icon>
        </button>
      </div>

      <div class="alert" [class.alert-show]="alertAnswer.show">
        <span> {{ alertAnswer.message }} </span>
      </div>
    </mat-radio-group>
    <button class="btn__add__form" mat-stroked-button (click)="saveQuestion()">
      add question
    </button>
  </mat-card>

  <button
    class="btn__add__form save"
    mat-raised-button
    color="primary"
    [disabled]="form.invalid"
    (click)="saveQuiz()"
  >
    {{ quizID.length > 0 ? "Edit quiz" : "Create quiz" }}
  </button>
</div>
